@page "/Create"
@using SuggestionAppUI.Models
@using SuggestionAppUI.Components
@inject ILoggedInUser loggedInUser
@inject ICategoryData catData
@inject ISuggestionData suggData
@inject IUserData userData
@inject NavigationManager navMan

@if (!loggedInUser.IsLoggedIn)
{
    <p>You are not allowed here</p>
}
else
{
    <h1 class="pageHeading text-uppercase mb-4">Make A Suggesion</h1>

    <div class="row justify-content-center createForm">
        <div class="col-xl-8 col-lg-10 formLayout">
            <div class="closeButtonSection">
                <button @onclick="ClosePage" class="btn btn-close"></button>
            </div>
            @if (categories is not null)
            {
                <EditForm Model="@suggestion" OnValidSubmit="CreateSuggestion">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="inputSection">
                        <label for="suggestion-text" class="form-label fw-bold text-uppercase">Suggestion</label>
                        <div class="inputDescription ">Focus on the topic or technology you want to learn about</div>
                        <InputText id="suggestion-text" class="form-control " @bind-Value="suggestion.Suggestion" />
                    </div>
                    <div class="inputSection">
                        <label for="cateogry" class="form-label fw-bold text-uppercase">Catefory</label>
                        <div class="inputDescription ">Choose one cateogry</div>
                        <div class="col-lg-8">
                            <MyInputRadioGroup id="category" @bind-Value="suggestion.CateogryId">
                                @foreach (var c in categories)
                                {
                                    <div class="radioItemGroup">
                                        <InputRadio Value="@c.Id" id="@c.Id" />
                                        <label for="@c.Id" class="form-label fw-bold text-uppercase">@c.CategoryName - @c.CategoryDescription</label>
                                    </div>
                                }
                            </MyInputRadioGroup>
                        </div>
                    </div>
                    <div class="inputSection">
                        <label for="description" class="form-label fw-bold text-uppercase">Description</label>
                        <div class="inputDescription ">Briefly Describe your suggestion</div>
                        <InputText id="description" class="form-control " @bind-Value="suggestion.Description" />
                    </div>

                    <div class="centerChildren">
                        <button class="btn btnMain btn-lg text-uppercase" type="submit">Suggest</button>
                    </div>
                </EditForm>
            }

            

    </div>
</div>
}


@code {
    private CreateSuggestionModel suggestion = new();
    private List<CategoryModel> categories;

    protected async override Task OnInitializedAsync()
    {
        categories = await catData.GetAllCategoriesAsync();

    }

    private void ClosePage()
    {
        navMan.NavigateTo("/");
    }

    private async Task CreateSuggestion()
    {
        SuggestionModel s = new();
        s.Suggestion = suggestion.Suggestion;
        s.Description = suggestion.Description;
        s.Author = new BasicUserModel(loggedInUser.returnAsUserModel());
        s.Category = categories.Where(c => c.Id.Equals(suggestion.CateogryId)).FirstOrDefault();
        s.ApprovedForRelease = false;

        if(s.Category is null)
        {
            suggestion.CateogryId = "";
        }

        await suggData.createSuggestionAsync(s);
        suggestion = new();
        ClosePage();
    }

}
